/*HTML SECTION*/
.fish_content{height:450px; width:250px; margin:20px auto;}
/*site version
.fish_content{height:450px; width:100%;margin:0 auto;}
*/

/*END HTML SECTION */
*{box-sizing: border-box;}
.edit_box{padding:5px;position:relative;}
.ctrl_box{height:30px;width:100%;margin:0 5px;}
button.edit_ctrl_btn{border:1px solid #ddd;width:15%;height:30px;cursor:pointer;display:inline-block;margin-right:3px;}
.edit_sectionB{width:85%;float:right;height:210px;position:relative;margin:5px 2px 0 0;}
.edit_resize_box{height:20px;margin-bottom:5px;padding-left:7px;}
.edit_resize_btn{ height:20px; width:18%; margin-right:3px; display:inline-block; border:1px solid #ccc;
  text-align:center; padding:0px; cursor:pointer;}
.edit_resize_btn h6{margin:0px;text-align:center;font-size:14px;}
.canvas_cont{height:200px;width:200px;margin:0 auto 5px; border:1px solid #ddd;}
.edit_cmd_label{height:30px;margin:5px;}
.edit_slider_box{height:50px;margin-bottom:5px;position:relative;clear:both;}
.edit_lock_box{ height:30px; width:15%; float:left; margin-top:3px;}


/*JQM slide styles*/
.sli_ctrl_contA{ position:relative; width:83%; right:0px; float:right; margin-top:5px; padding:2px 5px; text-align: center;}
.sli_ctrl_contA input.ui-slider-input{display:none;}
.sli_ctrl_contA .ui-slider{margin:0px;}
.sli_ctrl_contA .ui-slider-track{
  margin-left:15px;
}



.sli_ctrl_boxA{width:30%;}

.sli_ctrl_contB{ position:absolute; width:200px; text-align:center;top:-125px; height:35px; left:-85px;
padding:2px 5px;}
/*.sli_ctrl_contB input.ui-slider-input{display:none;}
.sli_ctrl_contB .ui-slider-track{
  margin-left:15px;
}*/
.sli_ctrl_contB{
  /*TODO were going to rotate the sliders 90deg*/
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg); /* Standard syntax */
}
.sli_ctrl_inputB{
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}
.sli_ctrl_inputB{ width: 15%; height: 30px; background:none;}

.sli_ctrl_boxB{width:50px;margin:5px 0 0 -8px;}


/**********************   Styling Help   *****************************/
/*
//a good tutorial
//https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

//a decent css generator
//http://danielstern.ca/range.css/#/

//the best generator i found - i used this one
//http://www.cssportal.com/style-input-range/


*/



/*here is the width*/
input[type=range] {
  -webkit-appearance: none;
  margin:0;
  width: 90%;
}
input[type=range]:focus {
  outline: none;
}

/*this section styles the track*/
/*this width doesn't effect the track*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 2px 2px #ccc;
  background: #e9e9e9;
  border-radius: 5px;

}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #ddd;
  height: 28px;
  width: 28px;
  border-radius: 5px;
  background: #f6f6f6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;

-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
box-shadow: 0 1px 3px rgba(0,0,0,.15);
}

/*on click bg color*/
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e9e9e9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 2px 2px #ccc;
  background: #e9e9e9;
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #ddd;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e9e9e9;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 1px 2px 2px #ccc;
}
input[type=range]::-ms-fill-upper {
  background: #e9e9e9;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 1px 2px 2px #ccc;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #ddd;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e9e9e9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e9e9e9;
}

/********************************************************************/





/***************** test rules **********************/
.test_yellow{border:1px solid yellow !important;}
.test_red{border:1px solid red !important;}
.test_blue{border:1px solid blue !important;}
.test_green{border:1px solid green !important;}
.test_purple{border:1px solid purple !important;}
.test_orange{border:1px solid orange !important;}
.test_brown{border:1px solid brown !important;}
.test_pink{border:1px solid pink !important;}
/***************** test rules **********************/


.word_wrap{
/* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  }
